/*FORMATAÇÃO DE TAG*/
body {
background-color: rgb(255, 241, 255);
color:rgb(141, 2, 83);
}

/*FORMATAÇÃO DE ID*/
#titulo_principal{
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: rgb(180, 0, 105);
   /* text-decoration: dashed; -Sublinhado */
   /*font-weight: bolder;
   font-style: italic;*/
}

/*FORMATAÇÃO DE CLASS*/
.texto1{
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(255, 222, 255);

}

.texto2{
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.cropped {
    border: 2px solid rgb(228, 7, 110);

}